SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
DISCORD_APPLICATION_ID=
IMGBB_API_KEY=
MUSIC_DIRS=
POLL_INTERVAL=5000

DETAILS_FORMAT={track}
STATE_FORMAT={artist} • {album}
ACTIVITY_NAME_FORMAT={artist}
SHOW_PLAYBACK_BAR=true
