SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
DISCORD_APPLICATION_ID=your_discord_application_id
MUSIC_DIRS=C:\Users\you\Music
IMGBB_API_KEY=your_imgbb_api_key
POLL_INTERVAL=5000
DETAILS_FORMAT={track}
STATE_FORMAT={artist} - {album}
ACTIVITY_NAME_FORMAT={artist}
SHOW_PLAYBACK_BAR=true
START_MINIMIZED=false

